/*styles for both layouts*/

/*starting with index 1*/

main{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 0.75rem;
    font-style: italic;
}
p{
    font-size: 1.2rem;
    line-height: 2rem;
}
p.callout{
    font-size: 2rem;
    line-height: auto;
    font-style: italic;
    float: right;
}
#row2 p,
#row4 p{
    margin-left: calc(100%/6);
}