
*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 100vh;
}

#flowerPic{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific Rhododendron 2 - Gary Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#flowerTitle{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#flowerTitle h1{
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}
