body{
    margin: 0;
}

#layout main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6);
    grid-template-areas: 
    'title title'
    'preptime baketime'
    'serving reviews'
    'image image'
    'ingredients ingredients'
    'directions directions';
}

#layout #title {grid-area: title;}
#layout #preptime {grid-area: preptime;}
#layout #baketime {grid-area: baketime;}
#layout #serving {grid-area: serving;}
#layout #reviews {grid-area: reviews;}
#layout #image {grid-area: image;}
#layout #ingredients {grid-area: ingredients;}
#layout #directions {grid-area: directions;}


#image img{
    width: 100%;
    height: auto;
}


@media screen and (orientation: landscape){



}